#decimalCalculator .background {
   background-color: #fafafa;
   padding: 20px;
   border: solid 1px #cbcbcb;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

#decimalCalculator {
   max-width: 400px;
   margin: 0 auto;
   font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 18px;
}

#percentageCalculator #intro {
   color: #666;
}

#decimalCalculator .result {
   font-weight: 700;
   padding: 0px 15px;
   max-width: 400px;
   text-wrap: wrap;
}

#decimalCalculator #bugLink {
   font-size: medium;
   padding: 10px;
   text-align: left;
}

#decimalCalculator input {
   padding: 10px;
   background-color: white;
   border: solid 1px #cbcbcb;
   width: 100px;
}

#decimalCalculator #inputAndDropdown {
   display: flex;
   align-items: center;
   gap: 2px;
   flex-wrap: wrap;
}

#decimalCalculator #dropdown {
   height: 39px;
}

#decimalCalculator math {
   display: inline-flex;
   align-items: center;
   gap: 4px;
   flex-wrap: wrap;
   row-gap: 10px;
   font-size: 18px;
}

/* do not bring to wordpress below this line */
#decimalCalculator a {
   text-decoration: underline;
   color: #000;
   transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
   text-align: center;
   font-size: 90%;
}

#decimalCalculator a:hover {
   text-decoration-color: #fc0;
   -webkit-text-fill-color: #000;
   -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: #000;
   transition-timing-function: ease;
   transition-duration: 3s;
}
